* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}



.big_img {
    height: 350px;
    width: 350px;
}

.small_img {
    height: 250px;
    width: 250px;
}

.car_img {
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 30px 10px 10px 10px;
}